#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.submit {
  margin-top: 1rem;
  background-color: #4f8c00;
}

.submit:hover {
  border-color: #d6d8fa;
}

.ocr-result-text {
  background-color: #4f8c00; /* Same green as the button */
  color: white; /* White text for better contrast */
  padding: 1rem;
  border-radius: 8px; /* Rounded corners */
  margin-top: 1rem;
  text-align: left; /* Align text to the left for readability */
  white-space: pre-wrap; /* Preserve line breaks from OCR */
}

.ocr-result-text p {
  white-space: pre-wrap; /* Allows text to wrap and preserves whitespace */
}

.tabs {
  margin-bottom: 1rem;
}

.tabs button {
  background-color: #312d2d;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.tabs button.active {
  background-color: #312d2d;
  border-bottom-color: #fff;
}